<h3 id="topText">About</h3>
	<img id="avatar" src="images/me.jpeg"/>
<br>
<div class="project">
	<blockquote>
		Hi, my name is Damon Kalaboukis. I'm currently enrolled at
		<a href="http://codinghouse.co/#!home">
			Coding House.
		</a>
		Until I entered Coding House in October of last year, I was only self taught basic Javascript, CSS, and HTML. After a few weeks at Coding House, I've learned how to create good functional websites, by using some very helpful frameworks, such as the MEAN stack.
	</blockquote>
	<br>
</div>
