<h3>About</h3>
<blockquote>
	Hi, my name is Damon Kalaboukis. I'm currently enrolled at
	<a href="http://codinghouse.co/#!home">
		Coding House.
	</a>
	Until I entered Coding House in October of last year, I was only self taught basic Javascript, CSS, and HTML. After a few weeks at Coding House, I've learned how to create good functional websites, by using some very helpful frameworks, such as the MEAN stack.
</blockquote>
<div id="meanStack">
	<a href="http://mongoosejs.com/">
		<img src="MongooseLogo.png">
	</a>
	<a href="http://expressjs.com/">
		<img src="ExpressLogo.png">
	</a>
	<a href="https://angularjs.org/">
		<img src="AngularLogo.png" id="angular">
	</a>
	<a href="https://nodejs.org/en/">
		<img src="Nodelogo.png">
	</a>
</div>
