<h3 id="topText">Experience</h3>
<div class="project">
	<h3>Coding House</h3>
	<img src="images/codinghouse-logo.png" class="logo">
	<br>
	<br>
		<blockquote>
		At Coding House, I spent all day on the computer coding.
		Days ususally go from 9 am to 1 am. I was taught how to code and how to learn how to code. I also got to meet some really great people, and I was even part of a team won a Hackathon.
		</blockquote>
		<br>
</div>
<br>
<div class="project">
	<h3>Office Max</h3>
	<img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5f/OfficeMaxLogo.svg/1280px-OfficeMaxLogo.svg.png" class="logo">
	<br>
	<blockquote>
		From August 2014 to October 2015, I've been working at Office Max as a sales associate, where I worked at the register, organized products, and helped customers find what their looking for. As my first job, I learn a lot of how to act towards a customer.
	</blockquote>
</div>
<br>
<br>
