<h3 id="topText">Projects</h3>
<br>
<div class="project">
	<h3>Angular Bookmark</h3>
	<img src="images/AngularBookmark.png" class="logo">
	<blockquote class="texty">
		My first big project using Angular, and the MEAN stack. It let's you get links from websites and turns them into bookmarks that you can tag, and search on the main page.
		<br>
		<a href="https://github.com/lakerforlife12/bookmarkManagementTool/tree/angularlike"><i class="fa fa-github fa-5x"></i></a>
		<a href="https://big-window.surge.sh"><i class="fa fa-external-link fa-5x"></i></a>
	</blockquote>
</div>
<br>
<div class="project">
	<h3>Weatherly</h3>
	<img src="images/Weatherly.png" class="logo">
	<blockquote class="texty">
		A simple weather application using the <a href="http://www.wunderground.com/">Wunderground Api</a>
		, which give you the current weather and a forcast for the next three days. Weatherly was made with plain Javascript, HTML, CSS and jQuery.
		<br>
		<a href="https://github.com/Damonkala/Weatherly" <i class="fa fa-github fa-5x"></i>
			<a href="http://damonkala.github.com/Weatherly/" <i class="fa fa-external-link fa-5x"></i>
			</a>
		</blockquote>
	</div>
	<br>
